@font-face {
  font-family: HARRYP;
  src: url(HARRYP__.TTF);
}

@font-face {
  font-family: LUMOS;
  src: url(LUMOS.TTF);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* html,
body {
  width: 100%;
  height: 100%;
} */

/* body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  animation: gradient 15s ease infinite;
} */

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
}

.stars {
  background: #000 url("../src/assets/stars.png") repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url("../src/assets/twinkling.png") repeat top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-image-upload {
  background-color: white;
}

label {
  font-family: Lumos;
  color: white;
  opacity: 100%;
  margin-top: 50px;
}

.mr-2 {
  color: white !important;
}

.navitem {
  color: white !important;
}

.link:hover {
  color: #b537f2;
}

.navbar {
  background: transparent !important;
}

.link {
  text-decoration: none;
  color: #7400b8;
  font-family: Lumos;
  line-height: 30px !important;
}

.logo {
  padding-left: 1em;
}

.hogwarts {
  height: 840px;
  width: 1050px;
}

.search-input {
  font-family: Lumos;
  color: #575c66;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-display {
  color: #7400b8 !important;
  cursor: pointer;
}

.accordion-button:focus {
  border-color: #ffffff !important;
  box-shadow: none !important;
}
.accordion-button.collapsed {
  display: block;
  text-align: center !important;
  font-weight: bold !important;
  color: #7400b8 !important;
  font-family: "Lumos";
  font-size: 18px;
  border-color: #ffffff !important;
  box-shadow: none !important;
}

/* .accordion-button.collapsed:hover {
  color: #03bce3 !important;
  transition: background-color 0.25s ease;
} */

.accordion-button:not(.collapsed) {
  display: block;
  font-weight: bold !important;
  text-align: center !important;
  color: #7400b8 !important;
  font-family: "Lumos";
  font-size: 18px;
  border-color: #ffffff !important;
  background-color: #ffffff !important;
}

/* .accordion-button:not(.collapsed):hover {
  color: #7400b8 !important;
  transition: background-color 0.25s ease;
} */

.logout-button:hover {
  color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

h3:hover {
  color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

/* .close-icon:hover {
  color: #b537f2 !important;
  transition: background-color 0.25s ease;
} */

.comment-display:hover {
  color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.comment-submit-button:hover {
  background-color: 9b2ca0 !important;
  transition: background-color 0.25s ease;
}

.auth-login:hover {
  background-color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.create-profile-button:hover {
  background-color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.edit-profile-button:hover {
  background-color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

h5:hover {
  color: #b537f2 !important;
  transition: color 0.25s ease;
}

h5 {
  line-height: 1.2rem;
}

/* h1:hover {
  color: #0433ff !important;
  transition: color 0.25s ease;
} */

h2:hover {
  color: #b537f2 !important;
  transition: color 0.25s ease;
}

h4:hover {
  color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.custom-modal-style {
  height: 250px;
}

.delete-profile-button:hover {
  background-color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.update-comment-submit:hover {
  background-color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.comment-button:hover {
  background-color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.edit-profile-icon:hover {
  color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.delete-profile-icon:hover {
  color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.profile-bio-header:hover {
  color: #b537f2 !important;
  transition: background-color 0.25s ease;
}

.accordion-body {
  padding: 0 1.25rem;
}

.close-icon:hover {
  color: #f43b86 !important;
  transition: background-color 0.25s ease;
}

.close-icon {
  color: #7400b8;
  font-weight: bold !important;
  font-size: 12px !important;
  margin-left: 10px !important;
  text-align: center;
}
